@charset "UTF-8";
@font-face {
    font-family: flasty;
    src: url(fontes/Designer.otf);
}
@font-face {
    font-family: normal;
    src: url(fontes/Mont-HeavyDEMO.otf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

main{
    width: 100%;
    margin: auto;
    padding-top: 0px;
}
main>img{
    max-width: 100%;
}
header{
    background-color:#000000;
    padding-top: 10px;
    height: 5px;
    width: 100%;
}

nav {
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    position: fixed;
    z-index: 9999;

    display: flex;                /* ativa flexbox */
    justify-content: space-between; /* logo esquerda, menu direita */
    align-items: center;          /* centraliza verticalmente */
    
    height: 70px;
    padding: 0 40px;              /* espaço nas laterais */
}

nav > p {
    margin: 0;                   /* remove margem padrão */
    color: white;
    font-family: normal;  /* fonte melhor definida */
    font-size: 25px;
    font-weight: bold;
    /* padding-top e alinhamento não são necessários com flex */
}

nav > div {
    display: flex;               /* para alinhar os links lado a lado */
    gap: 20px;                  /* espaço entre links */
}

nav > div > a {
    color: rgb(255, 255, 255);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;             /* use font-size, não font */
    padding: 8px 15px;          /* padding para área clicável */
    text-decoration: none;
    transition: all 0.2s ease;  /* suaviza hover */
}

nav > div > a:hover {
    font-size: 1.1em;
    background-color: rgb(146, 146, 146);
    text-decoration: underline;
    transition-duration: 0.1s;
}
article{
    background-image: url(imagens/academia\ gimp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:750px; 
    color: white;

}
article > h1{
    font-family: flasty;
    font-size: 4em;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
    text-shadow: 5px 5px 5px rgb(22, 10, 10);
}
article > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.beneficios{
    border: #2c3136;
    background-color: rgb(95, 17, 17);
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: normal;
    box-shadow: 5px 5px 5px rgb(19, 7, 7);
    width: 180px;
    height: 80px;    
    margin-top: 2px;
    margin-left: 30px;
}
.classe-beneficios{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
aside#conteudo1{
    color: rgb(0, 0, 0);
    background-color: white;
    height: 440px;
    align-items: center;
    justify-content: center;
}
main > aside > h1{
    text-align: center;
    font-family:flasty, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 3em;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);
    padding-top: 65px;
    padding: 25px;
}

aside#conteudo1 > h1{
    padding-top: 90px;
}
aside#conteudo1 > h1 > strong{
    color: rgb(133, 26, 26);
}
aside#conteudo1 > p{
    background-color: #ffffff;
    color: rgb(155, 153, 153);
    width: 790px;
    text-align: justify;
    padding: 40px;
    border-radius: 30px;
    font-family: normal, Arial, Helvetica, sans-serif;
    margin: auto;
    min-width: 280px;
    max-width: 600px;
    
}
.containerflip{
    width: 270px;
    height: 270px;
    margin-left: 30px;
}

.containerflip:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.frente,.atras{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px black;
    backface-visibility: hidden;
}

.frente{
    background-image: url(imagens/mulher\ negra\ treinando.png);
    filter: drop-shadow(20px 0px 20px rgb(136, 134, 134));
    background-size: cover;
    border-radius: 100%;
}

.atras{
    background-color: #4243440e;
    transform: rotateY(180deg);
    border-radius: 100%;
}
.atras > p{
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: normal,Arial, Helvetica, sans-serif;
    color: #424344;
    position: absolute;
    font-size: 15px;
    left: 3%;
    top: 40%;
}
.atras > h1{
    text-align: center;
    position: absolute;
    left: 25%;
    top: 15%;
    font-family: normal, Arial, Helvetica, sans-serif;
    color: #424344;
    font-size: 20px;
}
.containerflip2{
    width: 270px;
    height: 270px;
}

.containerflip2:hover .flip2{
    transform: rotateY(180deg);
}

.flip2{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.frente2,.atras2{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px black;
    backface-visibility: hidden;
}

.frente2{
    background-image: url(imagens/homem\ treinando.jpg);
    background-size: cover;
    border-radius: 100%;
}

.atras2{
    background-color: #4243440e;
    transform: rotateY(180deg);
    border-radius: 100%;
}
.atras2 > p{
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: normal,Arial, Helvetica, sans-serif;
    color: #424344;
    position: absolute;
    font-size: 13px;
    left: 3%;
    top: 40%;
}
.atras2 > h1{
    text-align: center;
    position: absolute;
    left: 5%;
    top: 15%;
    font-family: normal, Arial, Helvetica, sans-serif;
    color: #424344;
    font-size: 20px;
}
.containerflip3{
    width: 270px;
    height: 270px;
}

.containerflip3:hover .flip3{
    transform: rotateY(180deg);
}

.flip3{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.frente3,.atras3{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px black;
    backface-visibility: hidden;
}

.frente3{
    background-image: url(imagens/mulher\ treinando.png);
    background-size: cover;
    border-radius: 100%;
}

.atras3{
    background-color: #4243440e;
    transform: rotateY(180deg);
    border-radius: 100%;
}
.atras3 > p{
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: normal,Arial, Helvetica, sans-serif;
    color: #424344;
    position: absolute;
    font-size: 15px;
    left: 3%;
    top: 40%;
}

.atras3 > h1{
    text-align: center;
    position: absolute;
    left: 20%;
    top: 15%;
    font-family: normal, Arial, Helvetica, sans-serif;
    color: #424344;
    font-size: 20px;
}

aside#conteudo2{
    background-color: rgb(255, 255, 255);
    height: 360px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
aside#conteudo3{
    background-color: black;
    background-image: url(imagens/academia\ red.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
    background-attachment: fixed;   
    margin: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
aside#conteudo3 > h1{
    font-size: 35px;
}

.containerbody{
    display: flex;
    flex-direction: column;
}

.containerbody a{
    text-decoration: none;
}
.containerbody main{
    flex: 1 1 0;
}

div > hr{
    position: absolute;
    left: 10%;
    border-color: rgb(204, 24, 1);
    width: 80%;
}
div#q1{
    border: 1px solid black;
    width: 250px;
    height: 390px;
    background-color:#2c3136;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0000005d;
}   
div#q2{
    border: 1px solid black;
    width: 250px;
    height: 390px;
    background-color:#2c3136;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0000005d;
}  
div#q3{
    border: 1px solid black;
    width: 250px;
    height: 390px;
    background-color:#2c3136;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0000005d;
} 
div#q1 > h1{
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 37px;
}
div#q2 > h1{
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 37px;
}
div#q3 > h1{
    font-family: arial, Helvetica, sans-serif;  
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 37px;
}
div#q1 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding: 15px;
}
div#q2 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding: 15px;
}
div#q3 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding: 15px;
}
div#q1 > ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    padding-left: 50px;
}
div#q2 > ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
}
div#q3 > ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    padding-left: 50px;
}
div#q1 > ul > li{
    padding: 7px;
}

div#q2 > ul > li{
    padding: 7px;
}

div#q3 > ul > li{
    padding: 5px;
}

div#q1 > a{
    font-family: normal,Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center ;
    background-color:rgb(152, 20, 2);
    padding: 20px 0px;
    padding-top: 11px;
    height: 10px;
    width: 70%;
    border-radius: 20px;
    position: absolute;
    left: 16%;
    top: 80%;
    text-decoration: none;
    text-shadow: 2px 2px rgb(95, 17, 17);
    box-shadow: 2px 2px rgb(39, 39, 39);
}
div#q2 > a{
    font-family: normal, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center ;
    background-color:rgb(152, 20, 2);
    padding: 20px 0px;
    padding-top: 11px;
    height: 10px;
    width: 70%;
    border-radius: 20px;
    position: absolute;
    left: 16%;
    top: 80%;
    text-decoration: none;
    text-shadow: 2px 2px rgb(95, 17, 17);
    box-shadow: 2px 2px rgb(39, 39, 39);
}
div#q3 > a{
    font-family: normal, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center ;
    background-color:rgb(152, 20, 2);
    padding: 20px 0px;
    padding-top: 11px;
    height: 10px;
    width: 70%;
    border-radius: 20px;
    position: absolute;
    left: 16%;
    top: 80%;
    text-decoration: none;
    text-shadow: 2px 2px rgb(95, 17, 17);
    box-shadow: 2px 2px rgb(39, 39, 39);
}
div#q1:hover{
    background-color: #424344;
    transform: scale(1.05);
}
div#q1 >a:hover{
    background-color: rgb(5, 102, 5);
    transform: scale(1.05);
    text-shadow: 2px 2px rgb(2, 56, 2);
}
div#q2:hover{
    background-color: #424344;
    transform: scale(1.05);
}
div#q2 >a:hover{
    background-color: rgb(5, 102, 5);
    transform: scale(1.05);
    text-shadow: 2px 2px rgb(2, 56, 2);
}
div#q3:hover{
    background-color: #424344;
    transform: scale(1.05);
}
div#q3 >a:hover{
    background-color: rgb(5, 102, 5);
    transform: scale(1.05);
    text-shadow: 2px 2px rgb(2, 56, 2);
}



aside#conteudo4 {
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    background-color:#353535;
}

aside#conteudo4 >img{
    height: 400px;
    width: 400px;
    border-radius: 15%;
    box-shadow: 3px 3px 5px rgb(19, 7, 7);
}
aside#conteudo4 > img:hover{
    transform: scalex(1.4);
}

aside#suporte{
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #1c1c1d;
    height: 450px;
}

aside#suporte > div > ul > li{
    padding: 10px;
}

aside#suporte div > hr{
    width: 330px;
    border-color: rgb(204, 24, 1);
    position: relative;
    left: auto;
    border-color: rgb(204, 24, 1);

}

.card-suporte{
    width: 400px;
    height: 300px;
    color: aliceblue;
    font-family: normal;
    font-size: 15px;
}

.card-suporte > h1{
    color: #fcb4b4;
}

footer{
    background-color: black;
    text-align: center;
    color: lightgray;
    margin: 0%;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Para mobile:*/

@media (max-width:768px) {
    nav{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        height: 70px;
        font-size: 15px;
        position: fixed;
        text-align: left;
        padding-left: 7px;

    }
    nav div{
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: flex-start;
    }
    main article h1{
        font-size: 35px;
    }
    
    .beneficios{
        width: 180px;
        height: 60px;
    }
    aside#conteudo1 {
        height: 800px;
    }
    aside#conteudo1 p{
        height: 500px;
        width: 350px;
        font-size: 15px;
        text-align: justify;
    }
    aside#conteudo2{
    background-color: rgb(255, 255, 255);
    height: 1100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside#conteudo3{
    background-attachment: local;
    background-color: #353535;
    background-size: 100%;
    height: 1600px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside#conteudo4{
    height: 1200px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside#conteudo4 >img{
    height: 300px;
    width: 300px;
    border-radius: 15%;
    box-shadow: 3px 3px 5px rgb(19, 7, 7);
}

aside#suporte{
    height: 900px;
    font-size: 1px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-suporte > h1{
    font-size: 25px;
}
}