@charset "UTF-8";
@font-face {
    font-family: flasty;
    src: url(fontes/Designer.otf);
}
@font-face {
    font-family: normal;
    src: url(fontes/Mont-HeavyDEMO.otf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav {
    background-color: hsl(0, 0%, 0%);
    width: 100%;

    display: flex;                /* ativa flexbox */
    align-items: center;          /* centraliza verticalmente */
    
    height: 70px;
    padding: 0 40px; 
}

nav > p {
    margin: 0;                   /* remove margem padrão */
    color: white;
    font-family: normal;  /* fonte melhor definida */
    font-size: 25px;
    font-weight: bold;
    /* padding-top e alinhamento não são necessários com flex */
}

body{
    background-color: rgb(37, 37, 37);
}

article > div{
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
}
